
@{
    ViewData["Title"] = "Welcome";
}

<div class="jumbotron">
    <h1>Welcome to Super Todoer</h1>
    <p>Super Todoer is for those who want to get things done. Keep all of your todo lists organized and sorted.</p>
    <p>Each list supports a custom title and the ability to check things off a dynamic content authoring system</p>
    <p>The difference between us and other lists is trivial and not worth mentioning. But we can still let you check things off your list, and that just feels good</p>

    @Html.ActionLink("Create an Account", "Create", "User", null, new { @class = "btn btn-lg btn-primary" })
</div>

